
:root {
 
  --color2: linear-gradient(
    90deg,
    rgba(31, 166, 126, 1) 0%,
    rgba(13, 74, 56, 1) 100%
  );
}


.load {
  animation: loading 1s linear;
}
@keyframes loading {
  0% {
    width: 0%;
  }
}
